<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators - Quote</title>
		<link rel="icon" href="Pictures/webicon.png">
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
     
     	<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	</head>
		<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
			
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> Why Rocket Elevators?</h6>
						<p> Because you deserve the best !! </p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> Regions deserved :</h6>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> Quebec City</li>
							<li><i class="fa fa-angle-right"></i> Montreal </li>
							<li><i class="fa fa-angle-right"></i> Tampa Bay (Coming Soon)</li>
							<li><i class="fa fa-angle-right"></i> Philadelphia (Comming Soon)</li>
							<li><i class="fa fa-angle-right"></i> New York (Coming Soon)</li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 418-725 Boulevard Lebourgneuf,  <br /> Québec, QC G2J 0C4, Canada</li>
							<li><b>Phone:</b> (581) 701-0303</li>
							<li><b>Email:</b> <a href="mailto:info@codebox.biz">info@codebox.biz</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle"><!-- toggle button --></a>

		</div>
		
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- HEADER -->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<header id="topNav">

					<div class="container">

						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<a class="logo float-left" href="#top">
							<img src="<%= asset_path('R3.png')%>" alt="" />
						</a>
						
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-light">
							<nav class="nav-main">
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li><a href="/#top">HOME</a></li>
									<li >
										<a class="dropdown-toggle">
											SERVICES
										</a>
										<ul class="dropdown-menu" style=white-space:nowrap;>
											<li class="dropdown"><a href="/#services">SERVICES</a></li>
											<li class="dropdown"><a href="/residential">RESIDENTIAL</a></li>
											<li class="dropdown"><a href="/corporate">CORPORATE & COMMERCIAL</a></li>
											<li class="dropdown"><a href="/quote">GET A QUOTE</a></li>
										</ul>
									</li>
									<li><a href="/#portfolio">PORTFOLIO</a></li>
									<li><a href="/#news">NEWS</a></li>
									<li><a href="/#clients">CLIENTS</a></li>
									<li><a href="/#contact">CONTACT</a></li>
									<li><a href="/intervention">INTERVENTIONS</a></li>
									<% if current_admin_user%>
										<li><%= link_to 'LOGOUT', destroy_admin_user_session_path, method: :delete %></li>
										<% if current_admin_user.admin?%>
										<li><a href="/admin">BACKOFFICE</a></li>
										<% end %>
									<% else %>
										<li><%= link_to 'SIGNUP', new_admin_user_registration_path%></li>								
										<li><%= link_to 'LOGIN', new_admin_user_session_path%></li>								
									<% end %>													
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

            <!-- /REVOLUTION SLIDER -->
            
            <div class="row">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="col-sm-10 offset-sm-1 mb-0 mt-80">QUOTE REQUEST FORM - <em>COST ESTIMATE</em></h2>
                </div>

                <!-- MAIN FORM -->
                <div class="col-md-7 col-sm-7 mt-80">
                    <form action="" id="quote-form" method="post" enctype="multipart/form-data">
                        <h3 class="text-center fw-400 ">Fill out this form about your project.</h3>
                        <fieldset>
                            <div class="row justify-content-center mb-10">
                                <div class="col-md-6 ml-20 mr-20">
                                    <label for="full-name">FULL NAME</label>
                                    <input required type="text" placeholder="John Doe" class="form-control" name="full-name" id="full-name">
								</div>

                                <div class="col-md-6 ml-20 mr-20">
                                    <label for="email-quote">EMAIL ADDRESS</label>
                                    <input required type="email" placeholder="john.doe@example.com" class="form-control" name="email-quote" id="email-quote">
                                </div>
                                
                                <div class="col-md-6 ml-20 mr-20">
                                    <label for="phone-quote">PHONE NUMBER</label>
                                    <input required type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="514-888-8888" class="form-control" name="phone-quote" id="phone-quote">
                                </div>
                     
                                <div class="col-md-6 ml-20 mr-20 mt-40">
                                    <label for="building">BUILDING TYPE</label>
								</div>

								<div class="col-md-6 ml-20 mr-20">
                                    <select id="building-type" class="form-control pointer" name="building">
                                        <option value="Residential">Residential</option>
                                        <option value="Corporate">Corporate</option>
                                        <option value="Commercial">Commercial</option>
                                        <option value="Hybrid">Hybrid</option>
                                    </select>
                                </div>
                            </div>
                            <div id="building-confirm-btn" class="row justify-content-center text-center">
                                <div class="col-md-6 ml-20 mr-20">
                                    <button type="button" style="width: 100%" class="btn btn-primary"><i class="fa fa-check"></i>CONFIRM</button>
                                </div>
                            </div>
                            <div id="q1" class="row justify-content-center" style="display: none;">
                                    <div class="col-md-6 ml-20 mr-20">
                                        <label id="q1-label" for="question-1"></label>
                                        <input required type="number" value="" min="0" max="100000" oninput="validity.valid||(value='');" class="form-control" name="question-1" id="question-1">
                                    </div>
                            </div>

                            <div id="q2" class="row justify-content-center" style="display: none;">
                                <div class="col-md-6 ml-20 mr-20">
                                    <label id="q2-label" for="question-2"></label>
                                    <input required type="number" value="" min="0" max="100000" oninput="validity.valid||(value='');" class="form-control" name="question-2" id="question-2">
                                </div>
                            </div>

                            <div id="q3" class="row justify-content-center" style="display: none;">
                                <div class="col-md-6 ml-20 mr-20">
                                    <label id="q3-label" for="question-3"></label>
                                    <input required type="number" value="" min="0" max="100000" oninput="validity.valid||(value='');" class="form-control" name="question-3" id="question-3">
                                </div>
                            </div>

                            <div id="q4" class="row justify-content-center" style="display: none;">
                                <div class="col-md-6 ml-20 mr-20">
                                    <label id="q4-label" for="question-4"></label>
                                    <input required type="number" value="" min="0" max="100000" oninput="validity.valid||(value='');" class="form-control" name="question-4" id="question-4">
                                </div>
                            </div> 

                            <div id="q5" class="row justify-content-center" style="display: none;">
                                <div class="col-md-6 ml-20 mr-20">
                                    <label id="q5-label" for="question-5"></label>
                                    <input required type="number" value="" min="0" max="100000" oninput="validity.valid||(value='');" class="form-control" name="question-5" id="question-5">
                                </div>
                            </div> 

                            <div id="q6" class="row justify-content-center" style="display: none;">
                                <div class="col-md-6 ml-20 mr-20">
                                    <label id="q6-label" for="question-6"></label>
                                    <input required type="number" value="" min="0" max="24" oninput="validity.valid||(value='');"  class="form-control" name="question-6" id="question-6">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div id="results" class="col-md-5 col-sm-5 mt-80" style="display: none;">
                
                    <form id="product-lines-form" method="post" action="quote/create" enctype="multipart/form-data">
                        <fieldset>
                            <h2 class="text-center fw-600 mt-20 mr-20">Cost Assessment</h3>
                            <h3 class="text-center fw-400">Choose a product line grade.</h3>
                            <div class="row justify-content-center ">
                                <div class="radiodiv">
                                    <input type="radio" id="standard" name="product-line" value="Standard" checked>
                                    <label class="radio-label"for="standard">Standard</label><br>
                                </div>
                                <div class="radiodiv">
                                    <input type="radio" id="premium" name="product-line" value="Premium">
                                    <label class="radio-label" for="premium">Premium</label><br>
                                </div>
                                <div class="radiodiv">
                                    <input type="radio" id="excelium" name="product-line" value="Excelium">
                                    <label class="radio-label" for="excelium">Excelium</label><br>
                                </div>

                            </div>
                            <!-- RESULTS  (READONLY) -->
                            <div class="row justify-content-center">

                                <div class="col-md-6 ml-20 mr-20">
                                    <label for="num-shafts">NUMBER OF ELEVATORS NEEDED</label>
                                    <input readonly required type="number" value="" min="0" class="form-control" name="num-shafts" id="num-shafts">
                                </div>

                                <div class="col-md-6 ml-20 mr-20">
                                    <label for="elevator-price">ELEVATOR COST</label>
                                    <input readonly required type="text" value="$0.00" class="form-control" name="elevator-price" id="elevator-price">
								</div>

                                 <div class="col-md-6 ml-20 mr-20">
                                    <label for="installation-price">INSTALLATION COST</label>
                                    <input readonly required type="text" value="$0.00" class="form-control" name="installation-price" id="installation-price">
                                </div>

                                <div class="col-md-6 ml-20 mr-20">
                                    <label for="total-estimate">TOTAL COST ESTIMATE</label>
                                    <input readonly required type="text" value="$0.00" class="form-control" name="total-estimate" id="total-estimate">
                                </div>

                                <div id="submit-quote-btn" class="col-md-6 mt-20 ml-20 mr-20">
                                    <button type="submit" style="width: 100%" class="btn btn-primary"><i class="fa fa-check"></i>SUBMIT QUOTE</button>
                                </div>
							</div>

                            

                        </fieldset>
                    </form>
                </div>

            </div>

            <hr class="m-0" /><!-- 1px line separator -->
            
            <!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								It's real simple: we're at the forefront of elevator technology and we always make it work.
							</p>
							<h2>(581) 701-0303</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email-quote" id="email-quote" name="email-quote" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->

						</div>
						<!-- /col #2 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, RocketElevators&trade;
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

        <script>
            $(document).ready(function(){
                $(".recaptchaForm").on('submit', function(event){

                    var recaptcha = $('#g-recaptcha-response').val();
                    if(recaptcha===""){
                        event.preventDefault();
                        alert("Please Check Recaptcha")
                    }
                })
            })
		</script>


