<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Greetings, user!</h1>
        <h2>Click the button below to hear today's facts and stats on Rocket Elevators.</h2>
    </body>

    <%= audio_tag("Greet.wav", autoplay: true, controls: true)%>

</html>
